.posts {
  background-color: #ccc;
  margin: auto;
  width: 50%;
  border: 3px solid #aaa;
  border-radius: 4px;
  padding: 10px;
  ul {
    list-style-type: none;
    text-align: left;
    li {
      button {
        background: none;
        color: inherit;
        border: 2px solid transparent;
        border-radius: 5px;
        padding: 8px;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        transition: 0.4s;
        &:hover,
        &:focus-visible {
          border: 2px solid #9ad0ef;
          background-color: #aaa;
          color: #eee;
        }
      }
    }
  }
}
